<div class="row">
	<main class="col-md-12">
		<h1>
			Welcome to this page!
		</h1>

		<hr>

		<header>
			<h4>About me</h4>
		</header>
		<section>
			<p>
				I am <strong>Ziming Tan</strong> and my ID is <strong>106915218</strong>.
				I am really interested in the field of database and web programming.
				So I am in <strong>DAD Program</strong>.
			</p>
		</section>
	</main>
</div>
