<div class="row">
	<main class="col-md-12">
		<h1>
			About Me
		</h1>

		<hr>

		<header>
			<h4>About me</h4>
		</header>
		<section>
			<p>
				I am <strong>Jayden Tan.</strong>
				I am interested in the field of database and web programming.
				So I am in <strong>DAD Program</strong>.
			</p>
		</section>
	</main>
</div>
