<div class="row">
	<main class="col-md-12">
		<h1>HTML DEMO</h1>
		<hr>

		<section>
			<table class="table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody class='bgcolor'>
					<tr>
						<td>Claudette</td>
						<td>Ancketill</td>
						<td>cancketill0@msn.com</td>
					</tr>
					<tr>
						<td>Kelcy</td>
						<td>Van Der Hoog</td>
						<td>kvanderhoog1@utexas.edu</td>
					</tr>
					<tr>
						<td>Sibilla</td>
						<td>Willets</td>
						<td>swillets2@unesco.org</td>
					</tr>
					<tr>
						<td>Boy</td>
						<td>Schirok</td>
						<td>baschirok3@twitter.com</td>
					</tr>
					<tr>
						<td>Philis</td>
						<td>Barlow</td>
						<td>pbarlow4@myspace.com</td>
					</tr>
				</tbody>
			</table>
		</section>

		<hr>

		<header><strong>Tables of Laptop and Phone</strong></header>
		<br>

		<section>
			<table class="table">
				<caption>Laptop Brands</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Website</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody class='bgcolor'>
					<tr>
						<td rowspan="2">ASUS</td>
						<td><a href="https://www.asus.com/ca-en/">https://www.asus.com/ca-en/</a></td>
						<td>CANADA</td>
					</tr>
					<tr>
						<td><a href=https://www.asus.com/us/>https://www.asus.com/us/ </a> </td> <td>US</td>
					</tr>
					<tr>
						<td rowspan="2">HP</td>
						<td colspan="2"><a href='https://www.hp.com/ca-en/'>https://www.hp.com/ca-en</a> In
							CANADA</td>
					</tr>
					<tr>
						<td colspan="2"><a href='https://www.hp.com/us-en'>https://www.hp.com/us-en</a> In US
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Actions</td>
						<td>click to see features</td>
						<td>know your location</td>
					</tr>
				</tfoot>
			</table>

			<br>

			<table class="table">
				<caption>Phone Brands</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Model</th>
						<th>Website</th>
					</tr>
				</thead>
				<tbody class='bgcolor'>
					<tr>
						<td rowspan="2">Apple</td>
						<td>Iphone 12</td>
						<td><a
								href='https://www.apple.com/ca/iphone-12/key-features/'>https://www.apple.com/ca/iphone-12/key-features/</a>
						</td>
					</tr>
					<tr>
						<td>Iphone 13</td>
						<td><a href='https://www.apple.com/ca/iphone-13/'>https://www.apple.com/ca/iphone-13/</a>
						</td>
					</tr>
					<tr>
						<td rowspan="2">Samsung</td>
						<td colspan="2">Galaxy Z Fold3 on <a
								href='https://www.samsung.com/ca/smartphones/galaxy-z-fold3-5g/buy/'>
								https://www.samsung.com/ca/smartphones/galaxy-z-fold3-5g/</a></td>
					</tr>
					<tr>
						<td>Other</td>
						<td>More on <a href='https://www.samsung.com/ca/smartphones/'>
								https://www.samsung.com/ca/smartphones/</a></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Actions</td>
						<td>choose a model</td>
						<td>click to buy online</td>
					</tr>
				</tfoot>
			</table>

		</section>
		<br>
		<p>This two tables display the websites lead to customers to find their products.</p>

		<hr>

		<header><strong>Top 10 Mobile Phone Brands</strong></header>
		<section>
			<ol>
				<li>Samsung
					<ul>
						<li>Galaxy Z Fold3</li>
						<li>Galaxy S21</li>
					</ul>
				</li>
				<li>Huawei
					<ul>
						<li>HUAWEI P40 Pro</li>
						<li>HUAWEI Mate 30 Pro</li>
					</ul>
				</li>
				<li>Apple
					<ul>
						<li>Iphone 13</li>
						<li>Iphone 12</li>
						<li>Iphone 11</li>
						<li>Iphone X</li>
					</ul>
				</li>
				<li>Oppo</li>
				<li>Vivo</li>
				<li>Xiaomi</li>
				<li>LG</li>
				<li>Lenovo</li>
				<li>ZTE</li>
				<li>Alcatel-Lucent</li>
			</ol>
			<p>This list shows the top 10 mobile phone brands in the world in 2021.</p>
			<p>references from <a href='https://alertify.eu/top-10-mobile-phone-brands-in-the-world-2021/'>
					https://alertify.eu/top-10-mobile-phone-brands-in-the-world-2021</a></p>
		</section>

		<hr>

		<header><strong>Images of Siamese Cat</strong></header>
		<section>
			<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLP1lh6OLrER9gmvcmeLAgf3vbQMkx9RZBlu3Kao_pNU73CGvWWOJFHE3EJU3jTZWXH98&usqp=CAU'
				alt='Siamese'>
			<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG6J0BUfC0e9EHU6xmHdQM19O_S1dl9SQ14g&usqp=CAU'
				alt='Siamese'>
			<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmC7JhgcCFO_xxpm09z8tGYMx71qS3ZMZigA&usqp=CAU'
				alt='Siamese'>

			<p>I have a cat likes the images shown, its fur comes from white to dark.</p>
		</section>

		<hr>

		<header><strong>Audio</strong></header>
		<section>
			<!-- <audio src='https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3' autoplay></audio> -->
			<audio controls>
				<source src='https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3'
					type='audio/mp3'>
				<p>Sorry, your browser doesn't support HTML5 audio.</p>
			</audio>
			<p>this audio can be played after you click the button.</p>
		</section>

		<hr>

		<header><strong>Video</strong></header>
		<section>
			<video width='500' height="400" controls>
				<source src='https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4'
					type='video/mp4'>
				<p>Sorry, your browser doesn't support HTML5 video.</p>
			</video>
			<p>this video can be played after you click the button.</p>
		</section>

	</main>
</div>